amqp==5.3.1
asgiref==3.8.1
astroid==3.3.10
billiard==4.2.1
blinker==1.9.0
celery==5.3.6
certifi==2025.6.15
cffi==1.17.1
chapa-cli==0.0.4
charset-normalizer==3.4.2
click==8.2.1
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
dill==0.4.0
Django==5.2.1
django-cors-headers==4.7.0
django-environ==0.12.0
djangorestframework==3.16.0
drf-nested-routers==0.94.2
drf-yasg==1.21.10
Flask==3.1.1
idna==3.10
inflection==0.5.1
isort==6.0.1
itsdangerous==2.2.0
Jinja2==3.1.6
kombu==5.5.4
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mccabe==0.7.0
mdurl==0.1.2
mysql-connector-python==9.3.0
mysqlclient==2.2.7
packaging==25.0
platformdirs==4.3.8
prompt_toolkit==3.0.51
pycodestyle==2.13.0
pycparser==2.22
Pygments==2.19.2
pylint==3.3.7
pyngrok==7.2.11
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
python-environ==0.4.54
pytz==2025.2
PyYAML==6.0.2
rabbitmq==0.2.0
redis==6.2.0
requests==2.32.4
rich==14.0.0
six==1.17.0
sqlparse==0.5.3
tomlkit==0.13.3
tzdata==2025.2
uritemplate==4.1.1
urllib3==2.5.0
vine==5.1.0
wcwidth==0.2.13
Werkzeug==3.1.3
